# Ignore all files
*

# Files to be tracked
!.drone.yml
!.editorconfig
!.eslintrc.json
!.gitignore
!CHANGELOG.md
!CONTRIBUTING.md
!LICENSE.txt
!README.md
!composer.json
!docker-compose.yml
!phpcs.xml
!phpdoc.dist.xml
!phpmd.xml
!phpunit.xml.dist

# Directories to be tracked
!.github/workflows/
!.github/workflows/**
!config/*
!docs/*
!resources/*
!src**
!tests/*

!docs/