imports:
  - { resource: vendor/ec-europa/qa-automation/dist/library-conventions.yml }

# grumphp.yml
grumphp:
    tasks:
      phpcs:
        ignore_patterns:
          - vendor/
          - tests/fixtures
        triggered_by: [php]
