<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals               = "true"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "true"
    stopOnFailure               = "false"
    bootstrap                   = "vendor/autoload.php">
    <php>
        <env name="CI" value="true"/>
        <env name="QA_WEBSITE_URL" value="http://web:8080" force="true"/>
        <env name="DRUPAL_DATABASE_NAME" value="drupal"/>
        <env name="DRUPAL_DATABASE_USERNAME" value="root"/>
        <env name="DRUPAL_DATABASE_HOST" value="mysql"/>
    </php>
    <testsuites>
        <testsuite name="Unit GitHooks">
            <file>tests/Unit/GitHooksCommandsTest.php</file>
        </testsuite>
        <testsuite name="Unit ReplaceBlock">
            <file>tests/Unit/ReplaceBlockTest.php</file>
        </testsuite>
        <testsuite name="Blackfire and Build">
            <file>tests/Features/Commands/BlackfireCommandsTest.php</file>
            <file>tests/Features/Commands/BuildCommandsTest.php</file>
        </testsuite>
        <testsuite name="ComponentCheck">
            <file>tests/Features/Commands/ComponentCheckCommandsTest.php</file>
        </testsuite>
        <testsuite name="Configuration">
            <file>tests/Features/Commands/ConfigurationCommandsTest.php</file>
        </testsuite>
        <testsuite name="Docker">
            <file>tests/Features/Commands/DockerCommandsTest.php</file>
        </testsuite>
        <testsuite name="Documentation">
            <file>tests/Features/Commands/DocumentationCommandsTest.php</file>
        </testsuite>
        <testsuite name="Drupal">
            <file>tests/Features/Commands/DrupalCommandsTest.php</file>
        </testsuite>
        <testsuite name="Dump">
            <file>tests/Features/Commands/DumpCommandsTest.php</file>
        </testsuite>
        <testsuite name="GitHooks">
            <file>tests/Features/Commands/GitHooksCommandsTest.php</file>
        </testsuite>
        <testsuite name="Install">
            <file>tests/Features/Commands/InstallCommandsTest.php</file>
        </testsuite>
        <testsuite name="Lint">
            <file>tests/Features/Commands/LintCommandsTest.php</file>
        </testsuite>
        <testsuite name="Release">
            <file>tests/Features/Commands/ReleaseCommandsTest.php</file>
        </testsuite>
        <testsuite name="SymlinkProject">
            <file>tests/Features/Commands/SymlinkProjectCommandsTest.php</file>
        </testsuite>
        <testsuite name="Tests">
            <file>tests/Features/Commands/TestsCommandsTest.php</file>
        </testsuite>
        <testsuite name="Tool">
            <file>tests/Features/Commands/ToolCommandsTest.php</file>
        </testsuite>
        <testsuite name="Gitleaks">
            <file>tests/Features/Commands/GitleaksCommandsTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
