<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals               = "true"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "true"
    stopOnFailure               = "false"
    bootstrap                   = "vendor/autoload.php">
    <testsuites>
        <testsuite name="build">
            <file>tests/Commands/BuildCommandsTest.php</file>
        </testsuite>
        <testsuite name="clone">
            <file>tests/Commands/CloneCommandsTest.php</file>
        </testsuite>
        <testsuite name="Drupal">
            <file>tests/Commands/DrupalCommandsTest.php</file>
        </testsuite>
        <testsuite name="Install">
            <file>tests/Commands/InstallCommandsTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
