# Ignore editor and IDE metadata.
# -------------------------------
*.sublime-project
*.sublime-workspace
.idea/
nbproject/

# Ignore local configuration.
# ---------------------------
/build.develop.props
/phpcs.xml
/tests/behat.yml

# Ignore build artifacts.
# -----------------------
/bin/
/toolkit
/toolkit-*
/build/
/platform/
/.tmp/
/vendor/
/resources/git/hooks/pre-push/phpcs
lib-backup/
toolkit
