default:
  suites:
    subsite:
      paths:
        - '{{ behat.dir }}/features/CustomFeatures'
      contexts:
        - FeatureContext
        - DrupalContext
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\DrupalExtension\Context\DrushContext
        - Drupal\DrupalExtension\Context\MessageContext
      filters:
        tags: "{{ behat.tags }}"
  extensions:
    Behat\MinkExtension:
      browser_name: '{{ behat.browser.name }}'
      goutte: ~
      selenium2:
        wd_host: '{{ behat.wd_host.url }}'
        browser: '{{ behat.browser.name }}'
        capabilities:
          chrome:
            switches:
              - "--headless"
              - "--disable-gpu"
      javascript_session: 'selenium2'
      base-url: '{{ behat.base_url }}'
      files_path: '{{ build.platform.dir }}'
    Drupal\DrupalExtension:
      api_driver: '{{ behat.api.driver }}'
      blackbox: ~
      drupal:
        drupal_root: '{{ build.platform.dir }}'
      selectors:
        message_selector: '.messages'
        error_message_selector: '.messages.error'
        success_message_selector: '.messages.status'
      drush:
        alias: '{{ behat.drush.alias }}'
        binary: '{{ toolkit.dir.bin.drush }}'
      subcontexts:
        paths:
          - '{{ behat.subcontexts.path }}'
  formatters:
    {{ behat.formatter.name }}: ~
